.header{
   
    display: none;
    &__logo{
      width: 20%;
      @extend %logo;
      font-size: 30px;
    }
    &__navwrap{
      display: none;
    }
 
  }

  .mobileheader{
    display: flex;
    position: fixed;
    z-index: 10;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    &__logo {
      width: 20%;
      &_h3{
        font-size: 32px;
      }
     }
  }
  .mobileheader button{
    background-color:transparent;
    border: none;
    padding: 20px;
    right:0;
  }
  .mobileheader button i{
    font-size: 20px;
   }
  .mobileNav{
    &__navtoggle2{
      background-color:transparent;
      border: none;
      padding: 20px;
      padding-left: 10px;
      position: absolute;
      right: 0;
      top: 0;
    }
  } 
  .mobileNav button i{
   font-size: 20px;
  }
    //mobile view
.mobileNav{
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0px;
  text-align: center;
  padding-top: 20%;
  height: 100vh;
  width:40%;
  line-height: 3rem;
  display: none;
  transition: 100s ease;
  background-color: rgb(248, 246, 246);
}
.mobileNav li{
   list-style: none;
}
.mobileNav li a{
 @include a-tags;
}
.mobileNav li button{
 @extend %button;
 margin: auto;
}

 
   
    
  
  
  
@media(min-width:768px){
  .mobileNav {
    display: none;
  }
  .mobileheader {
    display: none;
  }
  .header {
    position: fixed;
    width: 85%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    z-index: 400;
    padding: 10px 50px 10px 100px ;
    
    &__logo {
      width: 20%;
      &_h3{
        font-size: 24px;
      }
    }
    
      &__navwrap{
      display: flex;
        width: 40%;
       right: 0;
       &_icons{
        display: none;
    }
        &_ul{
          width: 100%;
        display:flex;
        justify-content: space-between;
        align-items: center;

    }
    &_ul button{
      background-color: $buttoncolor;
      border: none;
      width: 60px;
      border-radius: 10px;
      height: 30px;
    }
      }
      &__navwrap li{
        list-style: none;
      }
      &__navwrap a{
        @include a-tags; 
        font-size: 15px;
      }
      
    }}
  
@media(min-width:1200px){
  .header { 
    &__logo {
      &_h3{
        font-size: 40px;
      }

    }
    &__navwrap a{
      @include a-tags; 
      font-size: 25px;
    }
  }
}


@media(min-width:1500px){
  .header { 
    &__logo {
      &_h3{
        font-size: 50px;
      }

    }
    &__navwrap a{
      @include a-tags; 
      font-size: 35px;
    }
  }
}