.services{
    background: #F7F2E5;

}
.servicesWrap{
    position: relative;
   @include allwrappers;
    flex-direction: column;
    align-items: flex-start;
    &__left{
        width: 60%;
        height: 500px;
        position: relative;
        &_one{
            width: 300px;
            height: 430px;
            left: 0px;
            position: absolute;
        }
        &_one img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &_two{
            width: 300px;
            height: 430px;
            position: absolute;
            left: 0px;
        }
        &_two img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
        
    &__right{
        width: 100%;
        text-align: center;
       
        &_h3{
            color: $headingColor;
         padding-bottom: 20px;
            font-size: $mobileHeadingtagfont;
           
        }
        &_p{
            padding-bottom: 20px;
            font-size: $mobilePtagfont; 
        }
    }
    &__button{
        margin: auto;
    }

}
    @media(min-width:768px){
        .servicesWrap{
            flex-direction: row;
            padding-top: 10px;
            align-items: flex-start;
            &__left{
                width: 60%;
                position: relative;
                &_one{
                    width: 500px;
                    height: 430px;
                    position: absolute;
                
                }
                &_one img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                &_two{
                    width: 500px;
                    height: 430px;
                    position: absolute;
                   
                }
                &_two img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
              
            &__right{
                width: 40%;
                margin-top: 150px;
                text-align: left;
                margin-bottom: 5%;
                &_h3{
                    width: 70%;
                    font-size:$laptopHeadingtagfont;
      
                }
                &_h3{
                    font-size:$laptopPtagfont; 
                }
            }
            &__button{
                margin:0;
             }
        
        }
    
    }
    
    @media(min-width:1200px){
        .servicesWrap{
            &__right{
                &_h3{
                    font-size:$LargeLaptopHeadingtagfont;
                }
                &_p{
                    font-size: $LargeLaptopPtagfont; 
                }
            }
            &__button{
             font-size: 25px;
            }
        
        }
    
    }
    @media(min-width:1500px){
        .servicesWrap{

            &__right{
                &_h3{
                    font-size:$ExtraLargeLaptopHeadingtagfont;
                }
                &_p{
                    font-size: $ExtraLargeLaptopPtagfont; 
                }
            }
        
        }
    }
    
