
$buttoncolor: #FFCC54;
$headingColor: #332700;
$linksColor:rgba(138, 106, 0, 0.9);
$font-family:'Rubik', sans-serif;
$font-style:normal;
$paragraphColor:rgba(51, 39, 0, 0.7);
$wrapperwidth: 90%;

$mobileHeadingtagfont:18px;
$mobilePtagfont: 15px;

$tabletHeadingtagfont:20px;
$tabletPtagfont:15px;

$laptopPtagfont:18px;
$laptopHeadingtagfont:20px;

$LargeLaptopHeadingtagfont:32px;
$LargeLaptopPtagfont:20px;

$ExtraLargeLaptopHeadingtagfont:36px;
$ExtraLargeLaptopPtagfont:24px;